{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
  <a href="./">Home | </a> <a href="./admin">Admin | </a> <a href="./reservations">Reservation</a> 
  <h2 class="title">Administrator Login</h2>
  {% if seatingChart %}
  <p>Printing Seating Chart...</p>
  <div class="seating-chart">
      {% for row in seatingChart %}
        <p>{{ row }}</p>
      {% endfor %}
    <h2></h2>
  </div>
  <p>Total Sales: {{ totalsales }}</p>
  {% endif %}
  {% if err %}
    <p style="color: red;">{{ err }}</p>
  {% endif %}
  <form method="POST" action="/admin">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.username.label }} {{ form.username }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      {{ form.login }}
  </form>
  
</div>
{% endblock %}
